a {
	color: black;
	text-decoration: none;
}

/*
댄스 #ee5b5b
보컬 #00b1ec
퍼포먼스 #f2b119
*/

.content ol, .content ul {
	padding: 0;
	list-style-type: none;
}

.content dl {
	overflow: hidden;
}

.content dt, .content dd {
	float: left;
	margin: .1em 0;
}

.content dt {
	clear: left;
}

.content dd {
	margin-left: 1em;
}

.dashboard {
	font-size: 1.3em;
	position: relative;
	margin: auto;
	height: 17em;
}

.deck {
	position: absolute;
	overflow: hidden;
}

.deck li {
	float:left;
	margin: .2em;
}

.deck-summary {
	padding-left: 1em;
}

.deck-total-ability dl {
	padding-left: .2em;
}

.deck-total-ability .type, .deck-total-ability dl {
	display: inline-block;
	margin: 0;
	vertical-align: middle;
}

.deck-total-ability dl {
	font-size: 1.3em;
}

.deck-total-ability .type {
	width: 2em;
	height: 2em;
	border-radius: 1em;
	background-color: lightgray;
}

.deck.dance .type {
	background-color: #ee5b5b;
}

.deck.vocal .type {
	background-color: #00b1ec;
}

.deck.performance .type {
	background-color: #f2b119;
}

.units {
	font-size: 0.9em;
	overflow: hidden;
}

.units > li {
	width: 100%;
}

.unit:not(.main-unit) {
	font-size: 0.8em;
}

.unit {	
	display: block;
	width: 100%;
}

.unit dl {
	margin: 0;
}

.unit li {
	float:left;
}

.unit-name {
	font-size: .8em;
	width: 100%;
	border-radius: .5em;
	text-align: center;
	background-color: lightgray;
	color: white;
}

.deck.dance .unit.active .unit-name {
	background-color: #ee5b5b;
}

.deck.vocal .unit.active .unit-name {
	background-color: #00b1ec;
}

.deck.performance .unit.active .unit-name {
	background-color: #f2b119;
}

.unit-summary {
	width: 7.5em;
	display: inline-block;
	font-size: .9em;
}

.unit .cards {
	display: inline-block;
}

.unit .card {
	overflow: hidden;
}

.unit .card .thumb {
	position: relative;
	width: 3em;
	height: 3em;
	border-radius: .5em;
	background-color: lightgray;
}

.unit .card .thumb img {
	position: absolute;
	width: 3em;
	height: 3em;
	border-radius: .5em;
	background-color: lightgray;
}

.unit .card .thumb p {
	position: absolute;
	margin: 0;
	left: 0;
	right: 0;
	line-height: 3em;
	text-align: center;
}

.unit .card .ability {
	font-size: .8em;
	margin: auto;
	text-align: center;
}

.unit .switch {
	display: inline-block;
}

.switch {
	width: 4em;
	height: 2.2em;
	border-radius: 1.1em;
	background-color: lightgray;
}

.switch .switch-thumb {
	margin-top: 0.1em;
	margin-left: 0.1em;
	width: 2em;
	height: 2em;
	border-radius: 1em;
	background-color: white;
}

.unit.active .switch {
	background-color: lightblue;
}

.unit.active .switch-thumb {
	margin-left: 1.9em;
}

.deck.loading {
	color: lightgray;
}

.deck.loading dt, .deck.loading .type {
	background-color: lightgray;
}

.deck-option {
	position: absolute;
	width: 6em;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	margin-left: 1em;
}

.deck-option a {
	display: block;
	height: 4em;
	border-radius: 1em;
	text-align: center;
	line-height: 4em;
	color: white;
}

.deck-option li.dance a {
	background-color: #ee5b5b;
}

.deck-option li.vocal a {
	background-color: #00b1ec;
}

.deck-option li.performance a {
	background-color: #f2b119;
}

.deck-option li~li {
	padding-top: .5em;
}

@media screen and (max-width: 30rem) {
	.dashboard {
		font-size: 1em;
		height: 20em;
	}
	.deck {
		margin: auto;
	}
	.deck-option {
		display: none;
	}
}